*{
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    padding: 20px;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

article {
    text-align: center;
}

article h2 {
    margin-bottom: 10px;
    color: green;
}

article p {
    color: rebeccapurple;
}

article span {
    color: blue;
}

.title {
    margin: 20px 0;
    text-align: center;
    color: orange;
    padding: 18px;
}

#tech {
    display: flex;
    flex-flow: space-around;
    justify-content: space-around;
}

.box {
    width: 150px;
    height: 150px;
    text-align: center;
} 

.box1 {
    background-color: red;
    font-size: 2rem;
    overflow: hidden;
}

.box2 {
    background-color: blue;
    font-size: 2rem;
}

.box3 {
    background-color: yellow;
    font-size: 2rem;
}

.newsletter {
    background-color: black;
    padding: 30px;
    margin-top: 10px;
    color: white;
    text-align: center;
}

input[type="text"] {
    margin-top: 10px;
    width: 300px;
    height: 25px;
}

input[type="submit"] {
    background-color: red;
    width: 50px;
    color: white;
    font-weight: bold;
    height: 28px;
    border: none; 
}

footer {
    background-color: red;
    padding: 50px;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
}